<section class="sub-header">
<nav>
  <a href="index.html"></a>
  <div class="nav-links" id="navLinks">
    <i class="fa-solid fa-xmark"></i>
    <ul class="nav-links__item-list">
      <li class="nav-links__item"><a class="<%= path === "/" ? 'active' : ''%>" href="/">Home</a></li>
      <li class="nav-links__item"> <a class="<%= path === "/about" ? 'active' : ''%>" href="/about">About</a></li>
      <!-- TODO UCUBE BLOG  -->
      <!-- <li class="nav-links__item"><a class="<%= path === "/blog" ? 'active' : ''%>" href="/blog">BLOG</a></li> -->
       <li class="nav-links__item"><a  class="<%= path === "/publications" ? 'active' : ''%>" href="/publications">Publikationen</a></li>
      <li class="nav-links__item"><a  class="<%= path === "/contact" ? 'active' : ''%>" href="/contact">Kontakt</a></li> 
    </ul>
  </div>
  <i class="fa-solid fa-bars"></i>
</nav>
<% if(path !== "/"){ %>
<h1> <%= pageTitle %> </h1>
<% } %>
</section>
