<%- include("./../partials/head") -%>

</head>
<body>

<!-- ---------- HEADER SECTION ------------ -->
<%- include("./../partials/nav.ejs") %>
  
<!-- ------------ blog page content -------- -->
<section class="blog-content">
        <div class="row">
            <div class="blog-left">
                <% blogPosts.forEach((blogPost) => { %>
                <div class="publication">
                        <img src="images/eduford_img/certificate.jpg" alt="Certificate">
                        <h2><%= blogPost.title %> - <%= blogPost.createdAt.getDay() %>.<%=blogPost.createdAt.getMonth()%>.<%= blogPost.createdAt.getFullYear() %></h2>
                        <p><%= blogPost.content.substring(0, 35) %>... </p>
                        <br>
                        <a href="/blog/<%= blogPost._id.toString() %>" class="red-btn hero-btn">Weiter</a>
                    </div>
                    <br>
                    <% }) %>
            </div>
            <div class="blog-right">
                <h3>Post Categories</h3>
                <div>
                    <span>Lorem Ipsum</span>
                    <span>21</span>
                </div>
                <div>
                    <span>Lorem Ipsum</span>
                    <span>28</span>
                </div>
                <div>
                    <span>Lorem Ipsum</span>
                    <span>11</span>
                </div>
                <div>
                    <span>Loren Ipsum</span>
                    <span>15</span>
                </div>
                <div>
                    <span>Lorem Ipsum</span>
                    <span>34</span>
                </div>
            </div>
        </div>
</section>


  

<%- include("./../partials/end") -%>
